
/*///////////////////////////////////////////////////////////*/ /*///////////////////////////////////////////////////////////*//*///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/ /*///////////////////////////////////////////////////////////*//*///////////////////////////////////////////////////////////*/
                  /*///////////////////////////////////////////////////////////*/ /* ESTILO DEL PROYECTO*/ /*///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/ /*///////////////////////////////////////////////////////////*//*///////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////*/ /*///////////////////////////////////////////////////////////*//*///////////////////////////////////////////////////////////*/

/* ///////////////// BODY ////////////////// */

body {
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
  background-image: linear-gradient(white,orange);
  background-attachment:fixed;
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "trebuchet ms", helvetica, sans-serif;
}
hr {
  height: 1px;
  border: 1;
  background-color: red;
}

/* ///////////////// ESTRUCTURA FLEX ////////////////// */

body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
nav ul {
  display: flex;
}
#navegador_inicio ul {
  display: flex;
  justify-content:space-between;
}

/*/////////////////////////// CABECERA ////////////////////////////////*/

header {
  margin-top: 20px;
}
header #panel_header{
  width:70%;
  height:100%;
  color: #fff;
}
header #panel_header img{
  width:100%;
  height:100%;
}

/*/////////////////////////// MENU NAVEGACIÓN  ////////////////////////////////*/

#enlaces_rapidos {
  margin-top: 20px;
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
  background-image: linear-gradient(orange, red);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
}
#enlaces_rapidos ul {
  list-style: none;
}
#enlaces_rapidos ul li{
  margin-left: 100px;
}
#enlaces_rapidos ul li a{
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size:20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  vertical-align: middle;
  text-decoration: none;
}
#enlaces_rapidos ul li a:hover {
  text-shadow: white 0.1em 0.1em 0.3em;
  -moz-transition:0.25s all;
  -webkit-transition:0.25s all;
  -o-transition:0.25s all;
  transition:0.25s all;
}

/*/////////////////////////// MENU INICIO ////////////////////////////////*/

#navegador_inicio > ul > li{
  width: 220px;
  height: 200px;
  list-style: none;
}

#navegador_inicio img{
  max-width: 80%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
}
#navegador_inicio img:hover{
  width: 100%;
  filter: contrast(200%);
  -webkit-filter: contrast(200%);
  -moz-filter: contrast(200%);
  -moz-transition:0.25s all;
  -webkit-transition:0.25s all;
  -o-transition:0.25s all;
  transition:0.25s all;
}
#navegador_inicio ul li h2{
  width: 84%;
  background-image: linear-gradient(white,gold);
  color:black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size:14px;
  text-shadow: white 0.1em 0.1em 0.2em;
  border-radius: 6px;
}

/* ////////////////// DISCOGRAFIA ////////////////// */

#contenido1{
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  text-shadow: white 0.0em 0.0em 0.2em;
  font-size: 19px;
  color: black;
}

/*/////////////////////////// CONTENIDO INICIO ////////////////////////////////*/

#contenido_inicio{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#contenido_inicio p{
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  text-shadow: white 0.0em 0.0em 0.2em;
  font-size: 19px;
  color: black;
  text-align:center;
}
#contenido section{
  margin-top:10px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
#contenido #columna_izq {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 280px;
}
#contenido #columna_dcha {
  display: flex;
  flex-direction: column;
  width: 220px;
}
#contenido #columna_central {
  display: flex;
  flex-direction: column;
  width: 220px;
}
#contenido h3{
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-image: linear-gradient(white,gold);
  font-size: 16px;
  text-shadow: white 0.1em 0.1em 0.2em;
  border-radius: 6px;
  text-align: center;
}
#contenido p{
  margin: 10px 10px 10px 10px;
  width: 90%;
  padding: 2px 2px 2px 2px;
}

/*/////////////////////////// TABLA ////////////////////////////////*/

.tabla_disco{
  font-size: 14px;
  table-layout: fixed;
  border: 3px solid blue;
  border-color: #80ccff;
  border-collapse: collapse;
	background-color: #80ccff;
}
.tabla_disco th, td {
  padding: 10px;
}
.tabla_disco tbody tr:nth-child(odd) {
  background-color: #ffe6ee;
}
.tabla_disco tbody tr:nth-child(even) {
  background-color: #ffb3cc;
}
.tabla_disco{
  background-color: #80ccff;
}
.tabla_disco tbody tr:hover {
  background-color: #ff471a;
}
.tabla_disco tbody tr td:hover {
  color: #ffff1a;
}
.tabla_disco tbody tr td:first-child{
  font-weight: bold;
}

/*//////////////////////////BIOGRAFIA/////////////////////////////////*/

.imagen_jackson{
  vertical-align: middle;
}
.imagen_jackson::hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}


#contenido .vida {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  text-shadow: white 0.0em 0.0em 0.2em;
  font-size: 15px;
  color: black;
  flex-direction: row;
  width: 900px;
}
#contenido1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
#contenido1 #izq{
  width: 800px;
  font-size: 17px;
  margin-right: 100px;
}
#contenido1 #dcha{
  width: 700px;
}

/*/////////////////////////// TABLA CONCIERTOS ////////////////////////////////*/

.tabla_conciertos{
  table-layout: fixed;
  border: 3px solid blue;
  border-color: #80ccff;
  border-collapse: collapse;
	background-color: #80ccff;
}
.tabla_conciertos th, td {
  padding: 10px;
}
.tabla_conciertos tbody tr:nth-child(odd) {
  background-color: #ffe6ee;
}
.tabla_conciertos tbody tr:nth-child(even) {
  background-color: #ffb3cc;
}
.tabla_conciertos {
  background-color: #80ccff;
}
.tabla_conciertos tbody tr:hover {
  background-color: #ff471a;
}
.tabla_conciertos tbody tr td:hover {
  color: #ffff1a;
}
.tabla_conciertos tbody tr td:first-child{
  font-weight: bold;
}

/*/////////////////////////// FORMULARIOS ////////////////////////////////*/

#formulario_gestion{
  margin-top:10px;
  background: rgba(210,255,82,1);
  background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,0.66) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,0.66)));
  background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,0.66) 100%);
  background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,0.66) 100%);
  background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,0.66) 100%);
  background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,0.66) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px outset #000000;
	font-weight: bold;
}
#titulo_gestion{
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-image: linear-gradient(white,gold);
  font-size: 16px;
  text-shadow: white 0.1em 0.1em 0.2em;
  border-radius: 6px;
}
#botones input{
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
#botones input:hover{
    color: #1883ba;
    background-color: #ffffff;
}
input, textarea, select, button {
  text-align: CENTER;
  width : 150px;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*/////////////////////////// TIENDA ////////////////////////////////*/


#contenido_tienda fieldset{
  font-weight: bold;
  font-family: 'fantasy ', sans-serif;
  color:white;
  margin: 20px 20px 20px 20px;
  background-image:-webkit-linear-gradient(top, orange 0%, red 100%);
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 10px solid red;
}
#contenido_tienda fieldset legend{
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size:18px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  vertical-align: middle;
  text-decoration: none;
  background-color: inherit;
}
#contenido_tienda input[type="submit"] {
	color: #fff;
  margin-bottom:30px;
  margin-left: 330px;
	font-weight: bold;
	background-image:-webkit-linear-gradient(top, red 0%, red 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2) ;
	-moz-box-shadow: hoff voff radius color;
	box-shadow: hoff voff radius color;
	text-shadow: 0 1px 0 #000;
}
#contenido_tienda input[type="reset"] {
	color: #fff;
	font-weight: bold;
	background-image:-webkit-linear-gradient(top, red 0%, red 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2) ;
	-moz-box-shadow: hoff voff radius color;
	box-shadow: hoff voff radius color;
	text-shadow: 0 1px 0 #000;
}

/*/////////////////////////// LOGIN ////////////////////////////////*/

#login {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#login label {
	line-height: 48px;
	text-align: center;
	font-family: 'FontAwesome', sans-serif;
	color: #676767;
	text-shadow: 0 1px 0 #fff;
}
#login input {
	background-color: #dedede;
  background: -webkit-linear-gradient(top, #c3c3c3 0%, #eaeaea 100%);
	color: #363636;
	text-shadow: 0 1px 0 #fff;
}
#login input[type="submit"] {
	background-color: #e14d4d;
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-image:-webkit-linear-gradient(top, #f15958 0%, #e14d4d 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2) ;
	-moz-box-shadow: hoff voff radius color;
	box-shadow: hoff voff radius color;
	text-shadow: 0 1px 0 #000;
}
#login input[type="submit"]:hover {
	background-color: #f15958;
	background-image:-webkit-linear-gradient(top, #e14d4d 0%, #f55b5b 100%);
}

/*/////////////////////////// FOOTER ////////////////////////////////*/

footer {
  margin-top: 40px;
}
footer p{
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  text-shadow: black 0.0em 0.0em 0.2em;
  font-size: 15px;
	color: black;
  text-align:center;
}
footer ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  font-size: 16px;
}
footer li{
  width: 100px;
}
footer li img{
  width: 50%;
  height: 50%;
}

/*/////////////////////////// MENÚ PARA ADMINS Y GESTORES ////////////////////////////////*/

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index:9999;
}
ul#navigation li {
  width: 100px;
}
ul#navigation li a {
  text-decoration: none;
  padding: 5px;
  font-size: 10px;
	background-image:-webkit-linear-gradient(top, orange 0%, red 100%);
  border-radius: 6px;
  border: 2px;
  display: block;
  margin-left: -2px;
  width: 100px;
  height: 40px;
}
ul#navigation span {
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size: 14px;
  color: white;
  text-align:center;
  text-decoration:none;
}

/*/////////////////////////// CERRAR SESIÓN ////////////////////////////////*/

#contenido_cerrar_sesion {
  margin-left: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contenido_cerrar_sesion p {
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size: 15px;
	color: black;
}
#navigation_cerrar_sesion {
  margin-top: 20px;
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
  background-image: linear-gradient(orange, red);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  list-style: none;
  width: 23%;
}
#navigation_cerrar_sesion li a {
  font-family: 'Oswald', sans-serif;
  font-style:normal;
  font-size:20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  vertical-align: middle;
  text-decoration: none;
}
#navigation_cerrar_sesion li a:hover {
  text-shadow: white 0.1em 0.1em 0.3em;
  -moz-transition:0.25s all;
  -webkit-transition:0.25s all;
  -o-transition:0.25s all;
  transition:0.25s all;
}

/*/////////////////////////// BOTÓN FILE ////////////////////////////////*/

.botonFile {
  width: 360px;
  height: 40px;
  background-image: linear-gradient(white, green);
  font-size: 10px;
  text-shadow: white 0.1em 0.1em 0.2em;
}
